<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MyBookShelf</title>
    <link rel="icon" href="/misc/favicon_io/favicon.ico">
	<link rel="stylesheet" href="/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/templatemo-xtra-blog.css" rel="stylesheet">
    <link href="/css/collection.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/fonts/icomoon/style.css" rel="stylesheet">
<!--
    
TemplateMo 553 Xtra Blog

https://templatemo.com/tm-553-xtra-blog

-->
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <a href="index.html">
                    <img src="/misc/Logo-removebg-preview.png" alt="Image" class="img-fluid">
                </a>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item"><a href="index.html" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Home
                    </a></li>
                    <li class="tm-nav-item"><a href="login.html" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        My Profile
                    </a></li>
                    <li class="tm-nav-item"><a href="about.html" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        About
                    </a></li>
                    <li class="tm-nav-item"><a href="contact.html" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        FAQ
                    </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>                
            </div>            
            <!--Cover image-->
            <div class="row tm-row">
                <div class="col-12">
                    <article class="cta">
                        <img style="width: 14rem" th:src="@{'/collection/' + ${collection.id} + '/image'}" alt="Image" class="cta">
                        <div class="cta__text-column">
                            <h1 th:text="${collection.name}"></h1>
                            <h5 th:text="${'Author: ' + #strings.listJoin(collection.author, ', ')}"></h5>
                            <h5 th:text="${'Demography: ' + collection.demography}"></h5>
                            <h6 th:text="${collection.plot}"></h6>
                        </div>
                    </article>
                </div>
            </div>
            <!--Book list-->       
            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    <div class="table-responsive custom-table-responsive">

                        <table class="table custom-table">
                          <thead>
                            <tr>  
                
                              <th scope="col">
                                <label class="control control--checkbox">
                                  <input type="checkbox"  class="js-check-all"/>
                                  <div class="control__indicator"></div>
                                </label>
                              </th>
                              
                              <th scope="col">READ</th>
                              <th scope="col">TITLE</th>
                              <th scope="col">DATE</th>
                              <th scope="col">PAGES</th>
                              <th scope="col">PUBLISHER</th>
                            </tr>
                          </thead>
                            <tbody>
                            <tr th:each="book : ${collection.books}">
                                <th scope="row">
                                    <label class="control control--checkbox">
                                        <input type="checkbox"/>
                                        <div class="control__indicator"></div>
                                    </label>
                                </th>
                                <td th:text="${'#' + book.num}"></td>
                                <td th:text="${collection.name +' '+ book.num}"></td>
                                <td th:text="${book.publishDate}"></td>
                                <td th:text="${book.pages}"></td>
                                <td th:text="${collection.publisher}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                                
                </div>
            </div>
            <footer class="row tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                    <a>Hugo Coto González</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    TFG: MyBookShelf
                </div>
            </footer>
        </main>
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/templatemo-script.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/collection.js"></script>
</body>
</html>