<header th:fragment="header" class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
            <a href="/home">
                <img src="/misc/Logo-removebg-preview.png" alt="Image" class="img-fluid">
            </a>
        </div>
        <nav class="tm-nav" id="tm-nav">
            <ul>
                <li class="tm-nav-item"><a href="/home" class="tm-nav-link">
                    <i class="fas fa-home"></i>
                    Home
                </a></li>
                <li th:if="${!logged}" class="tm-nav-item">
                    <a href="/LogIn" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        My Profile
                    </a>
                </li>

                <li th:if="${logged}" class="tm-nav-item">
                    <a href="/profile" class="tm-nav-link">
                        <i class="fas fa-user-astronaut"></i>
                        My Profile
                    </a>
                </li>
                <li class="tm-nav-item"><a href="/search" class="tm-nav-link">
                    <i class="fas fa-book"></i>
                    Collections
                </a></li>
            </ul>
        </nav>
    </div>
</header>