<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MyBookShelf</title>
    <link rel="icon" href="/misc/favicon_io/favicon.ico">
	<link rel="stylesheet" href="/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/templatemo-xtra-blog.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div th:replace="header :: #tm-header"></div>  <!--Inyección del header-->
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                        <button class="signin-button">
                            <a th:if="${!logged}" href="/LogIn" style="color: inherit;">
                                Sign In / Sign Up
                            </a>
                            <a th:if="${logged}" href="/LogIn/processLogout" style="color: inherit;">
                                Log Out
                            </a>
                        </button>
                    </form>
                </div>                
            </div>            
            <div th:if="${logged}" class="row tm-row">
                <div class="col-12">
                    <h4 class="pt-2 tm-color-primary tm-post-title">Reading</h4>
                    <hr class="tm-hr-primary tm-mb-55">
                    <div class="card-container-reading">
                        <img style="height: 15rem; width: 10rem;" src="../Logos_y_demás/Datos_de_ejemplo/1.jpg" alt="" class="card-container-img-reading">
                        <img style="height: 15rem; width: 10rem;" src="../Logos_y_demás/Datos_de_ejemplo/2.jpeg" alt="" class="card-container-img-reading">
                        <a href="collection-example.html">
                            <img style="height: 15rem; width: 10rem;" src="../Logos_y_demás/Datos_de_ejemplo/3.jpg" alt="" class="card-container-img-reading">
                        </a>
                    </div>
                    
                </div>
            </div>
            <div th:if="${logged}" class="row tm-row">
                <div class="col-12">
                    <h4 class="pt-2 tm-color-primary tm-post-title">For you</h4>
                    <hr class="tm-hr-primary tm-mb-55">
                    <div class="card-container">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/4.webp" alt="" class="card-container-img">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/5.jpg" alt="" class="card-container-img">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/6.webp" alt="" class="card-container-img">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/7.jpg" alt="" class="card-container-img">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/8.jpg" alt="" class="card-container-img">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/9.jpg" alt="" class="card-container-img">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/10.jpg" alt="" class="card-container-img">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/11.webp" alt="" class="card-container-img">
                    </div>
                    
                </div>
            </div>
            <div class="row tm-row">
                <div class="col-12">
                    <h4 class="pt-2 tm-color-primary tm-post-title">Recently added</h4>
                    <hr class="tm-hr-primary tm-mb-55">
                    <div class="card-container">
                        <div th:each="collection : ${recentlyAdded}">
                            <a th:href="@{/collection/{id}(id=${collection.id})}">
                                <img style="height: 16rem; width: 11rem;" th:src="@{'/collection/' + ${collection.id} + '/image'}" alt="Image" class="card-container-img">
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>  
            <div class="row tm-row">
                <div class="col-12">
                    <h4 class="pt-2 tm-color-primary tm-post-title">Featured</h4>
                    <hr class="tm-hr-primary tm-mb-55">
                    <div class="card-container">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/12.webp" alt="" class="card-container-img">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/13.webp" alt="" class="card-container-img">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/14.jpg" alt="" class="card-container-img">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/15.jpg" alt="" class="card-container-img">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/16.webp" alt="" class="card-container-img">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/17.webp" alt="" class="card-container-img">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/18.jpg" alt="" class="card-container-img">
                        <img style="height: 11rem; width: 7rem;" src="../Logos_y_demás/Datos_de_ejemplo/19.webp" alt="" class="card-container-img">
                    </div>
                    
                </div>
            </div>       
            <footer class="row tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                    <a>Hugo Coto González</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    TFG: MyBookShelf
                </div>
            </footer>
        </main>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/templatemo-script.js}"></script>
</body>
</html>